<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{includes/head:: #head}"></div>
<body>
<div th:replace="~{includes/header:: #header}"></div>

<section>
    <form th:action="@{/post/new}" method="post">

        <input type="hidden" name="todo" value="create">
        <label>Title</label><br>
        <input type="text" id="title" name="title" placeholder="title"
               style="width: 100%"><br>
        <label>Content</label><br>
        <textarea id="summernote" name="content" placeholder="Write something.."
                  style="height:40vh;width: 100%"></textarea><br>
        <input type="submit" value="Publish" class="btn btn-link">
        <a th:href="@{/}" class="btn btn-link">Return</a>
    </form>

</section>

<div th:replace="~{includes/footer:: #footer}"></div>
<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
<script>
    $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 300,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>

</body>
</html>