<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div th:replace="includes/head:: #head"></div>
<body>
<div th:replace="includes/header:: #header"></div>

<main class="container leftcolumn">
    <div id="postlist">
        <div th:replace="includes/content:: #content"></div>
    </div>
    <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
    </nav>

</main><!-- /.container -->

<div th:replace="includes/aside:: #aside"></div>
<div th:replace="includes/footer:: #footer"></div>

<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>