<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{includes/head:: #head}"></div>
<div th:replace="~{includes/header:: #header}"></div>

<section id="content">
    <div class="leftcolumn" id="postlist">

        <div class="card border-dark mb-3" style="max-width: 100%;" th:each="post : ${posts}">
            <form th:action="@{/posts/}+${post.id}" method="post" >
<!--            <form th:action="@{/posts/{path}(path=${post.id})}" method="post" >-->
                <input type="hidden" name="id" th:value="${post.id}">
                <div class="card-header" th:text="${post.title}"></div>
                <div class="card-body text-dark">
                    <h5 class="card-title" th:text="${post.postdate}"></h5>
                    <h5 class="card-title" th:text="${post.id}"></h5>
                    <p class="card-text" th:utext="${post.content}"></p>
                    <a href="#" class="btn btn-info">Read More</a>
                </div>
                <input type="submit" value="Edit" class="btn btn-link">
            </form>
        </div>

    </div>


</section>

<div th:replace="~{includes/asideright:: #asideright}"></div>
<div th:replace="~{includes/footer:: #footer}"></div>


<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>