<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Peng's blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main.css"
          th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div th:replace="~{includes/header:: #header}"></div>
<div th:replace="~{includes/content:: #content}"></div>
<div th:replace="~{includes/asideright:: #asideright}"></div>
<div th:replace="~{includes/footer:: #footer}"></div>

<ul>
    <li th:each="location : ${locations}">
        <span th:text="${location.name}">Default</span>
    </li>
</ul>

<p onclick="getNum()">click me</p>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>