<aside id="aside" class="rightcolumn" th:fragment="aside">
    <div id="about">
        <div class="container">
            <h4 >About</h4>
            <p>Simon Li</p>
            <em>Canadian IP Patent/TradeMark Agent</em><br>
        </div>
    </div>

    <div id="archives">
        <div class="container">
            <h4 >Archives</h4>
            <ul>
                <li><a href="#">March 2014</a></li>
                <li><a href="#">February 2014</a></li>
                <li><a href="#">January 2014</a></li>
                <li><a href="#">April 2013</a></li>
            </ul>
        </div>
    </div>

    <div id="follow">
        <div class="container">
            <h4 >Follow Me</h4>
            <ul style="display:flex;justify-content: flex-start">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-google"></a></li>
                <li><a href="https://ca.linkedin.com/in/peng-li-1a6a082b"
                       class="fa fa-linkedin" target="_blank"></a></li>
                <li><a href="#" class="fa fa-skype"></a></li>
            </ul>
        </div>
    </div>

    <div id="subscribe">
        <div >
            <h4 >Subscribe</h4>
            <form th:action="@{/}" method="get" id="emailform">
                <input type="email" name="email" placeholder="email" /> </label>
                <input type="submit" value="Submit"
                       style="border: none;background-color: #ffffff;color: #9370db"/>
            </form>
        </div>
    </div>
</aside>
