<aside id="aside" class="rightcolumn" th:fragment="aside">
    <div id="about">
        <div class="container">
            <h4 >About Me</h4>
            <em>"Hi, I'm Sherwin. I love coding and I am passionate on building web app"</em><br>
        </div>
    </div>

    <div id="archives">
        <div class="container">
            <h4 >Codeing Notes</h4>
            <ul>
                <li><a href="#">Spring Boot</a></li>
                <li><a href="#">Hibernate</a></li>
                <li><a href="#">Database Design</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">React</a></li>
                <li><a href="#">Linux</a></li>
            </ul>
        </div>
    </div>

    <div id="follow">
        <div class="container">
            <h4 >Follow Me</h4>
            <ul style="display:flex;justify-content: flex-start">
                <li><a href="https://github.com/sherwinwater"
                       class="fa fa-github" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/shuwen-wang"
                       class="fa fa-linkedin" target="_blank"></a></li>
            </ul>
        </div>
    </div>

    <div id="subscribe">
        <div >
            <h4 >Subscribe</h4>
            <form th:action="@{/}" method="get" id="emailform">
                <input type="email" name="email" placeholder="email" /> </label>
                <input type="submit" value="Submit"
                       style="border: none;background-color: #ffffff;color: #9370db"/>
            </form>
        </div>
    </div>
</aside>
