<aside class="col-md-4 blog-sidebar" id="aside">
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Simon Li</p>
        <em>Canadian IP Patent Agent</em><br>
        <em>Canadian TradeMark Agent</em><br>
    </div>

    <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">April 2013</a></li>
        </ol>
    </div>

    <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled" style="display:flex; justify-content: space-around;
">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-google"></a></li>
            <li><a href="https://ca.linkedin.com/in/peng-li-1a6a082b"
                   class="fa fa-linkedin" target="_blank"></a></li>
            <li><a href="#" class="fa fa-skype"></a></li>
        </ol>
    </div>
</aside><!-- /.blog-sidebar -->
