<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Peng's blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main.css"
          th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div id="header">
    <body>
    <header class="header">
        <h2><a th:href="@{/}">管豹一斑</a></h2>
        <h2><a th:href="@{/}">IP Spots Observations</a></h2>
    </header>

    <nav id="nav_bar">
        <ul>
            <li><a th:href="@{/posts/new}">Post</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>
</div>
