<header id="header">
    <div class="header header-grid-container row">
        <div style="text-align: left" class="col-4">
            <form th:action="@{/posts/search}" method="get" id="searchform" class="form-inline">
                <input type="search" placeholder="search..."
                       name="title" aria-label="Search" style="width: 200px;">
                <button type="submit" style="font-size:12px;border: none;
                background-color: white;padding: 0;margin: 0">
                    <i class="fa fa-search" style="margin: 0;width: 16px;padding: 0"></i></button>
            </form>
        </div>
        <div style="text-align: right" class="blog-header-login col-8">
            <!--            <input type="search" name="ajaxsearch" id="ajaxsearch" placeholder="ajaxsearch..">-->
            <div style="text-align: right" class="blog-header-login" sec:authorize="not isAuthenticated()">
                <!--            <input type="search" name="ajaxsearch" id="ajaxsearch" placeholder="ajaxsearch..">-->
                <a th:href="@{/post/new}">Create Post</a>&nbsp;&nbsp;
                <a th:href="@{/login}">Sign in</a>
            </div>
            <div th:fragment="logout" class="loginuser blog-header-login" sec:authorize="isAuthenticated()">
                <span>Hi</span> <span sec:authentication="name">Bob</span><span>!</span>
                <a th:href="@{/post/new}">Create Post</a>&nbsp;&nbsp;
                <!--        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> |-->
                <!--/* When using CSRF this needs to be a POST */-->
                <form th:action="@{/logout}" method="post" style="display:inline" class="form-inline">
                    <input type="submit" value="Logout"/>
                </form>
            </div>
        </div>

    </div>
    <br>

    <div class="blog-home">
        <h1 style="text-align: center;">
            <a class="blog-header" style="color: white" th:href="@{/}">Welcome to Sherwin's Coding Notes</a>
        </h1>
        <p class="font-italic">The pieces of coding notes have seen my steps in the coding world. I hope these notes could encourage me move forward with full confidence.</p>
    </div>
</header>